.mainInfo h1 {
    text-align: center;
    color: #A4A400;
    background-color: #F0F0F0;
    text-decoration: underline;
    font-size: 22pt;
}

body {
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, Verdana, sans-serif;
}

body a {
    color: #A4A400;
}

h2 {
    color: #A4A400;
    background-color: #F0F0F0;
    text-decoration: underline;
    font-size: 18pt;
}

.comments p {
    margin-left: 20px;
    background-color: #FFFFC8;
    font-style: italic;
}

.extraInfo {
    width: 300px;
    text-align: right;
    font-family: monospace;
}